.projects-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px) {
        padding-top: 70px;
    }

    .projects-root {
        display: flex;
        align-items: center;
        justify-content: center;

        .projects-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            padding-top: 30px;

            .projects-heading {
                font-family: 'Ubuntu', sans-serif;
                font-size: 48px;
                font-weight: 600;
            }

            .ProjectCard-container {
                display: flex;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;
                justify-content: center;
            }

            @media (max-width: 600px) {
                .ProjectCard-container {
                    flex-direction: column;
                }
            }
        }
    }

    .popUp-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        pointer-events: auto;
        background: rgba(0, 0, 0, 0.7);
    }
}