.projects-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .projects-root {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}