:root {
    --card-bg-color: #d3d3d3;
    --card-text-color: black;
}

[data-theme='dark'] {
    --card-bg-color: black;
    --card-text-color: white;
}

.projectCard-root {
    background-color: var(--card-bg-color);
    width: 300px;
    height: 450px;
    border-radius: 20px;
    padding: 10px;
    border: 5px solid black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: background-color 0.3s, color 0.3s;
    flex: 1 1 300px;
    max-width: 100%;

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .coverImage {
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .project-heading {
        font-size: 24px;
        font-weight: 600;
    }

    .project-gitHub-link {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;
    }

    .project-website {

        .project-website-link {
            cursor: pointer;
            font-size: 14px;
            color: var(--visit-color);
            font-weight: 600;
            text-decoration: underline;
            transition: color 0.3s;
        }
    }

    .project-description {
        font-size: 13px;
        font-weight: 500;
    }

    .zoomIcon {
        align-self: flex-end;
        cursor: pointer;
    }
}