@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.skillSets-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .skillSets-root {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .skills-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;

            .skillSets-heading {
                font-family: 'Ubuntu', sans-serif;
                font-size: 48px;
                font-weight: 600;
            }

            .skills-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                .skills-firstLine {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                }

                .skills-secondLine {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                }
            }

        }
    }
}