.navBar-root {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navBar-bg-color);
    color: var(--text-color);
    z-index: 998;
    backdrop-filter: blur(3px);
    font-size: 18px;

    .navBar-left {}

    .navBar-right {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    @media (max-width: 600px) {
        font-size: 12px;

        .navBar-left {
            display: none;
        }

        .navBar-right {
            gap: 20px;
        }
    }
}