.navBar-root {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navBar-bg-color);
    color: var(--text-color);
    z-index: 998;
    backdrop-filter: blur(3px);
    font-size: 18px;

    .navBar-left {
        display: flex;
        align-items: center;
    }

    .navBar-right {
        display: flex;
        align-items: center;
        gap: 20px;

        .container {
            display: flex;
            align-items: center;
            padding: 0;

            a {
                color: inherit;
                border-radius: 10px;
                padding: 5px 8px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: var(--bg-color-op);
                    color: var(--text-color-op);
                }
            }
        }
    }

    @media (max-width: 600px) {
        font-size: 12px;

        .navBar-left {
            display: none;
        }

        .navBar-right {
            gap: 10px;
        }
    }
}