@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .contact-root {
        display: flex;
        align-items: center;
        justify-content: center;

        .contact-content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .contact-heading {
                font-family: 'Ubuntu', sans-serif;
                font-size: 48px;
                font-weight: 600;
            }

            .contact-form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .form-name {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .form-name-text {
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 600;
                    }

                    .form-name-input {
                        padding-left: 5px;
                        padding-right: 5px;
                        border-radius: 10px;
                        border: 2px solid var(--text-color);
                        transition: border-color 0.3s;
                        font-family: 'Ubuntu', sans-serif;
                        height: 40px;
                    }
                }

                .form-email {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .form-email-text {
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 600;

                    }

                    .form-email-input {
                        padding-left: 5px;
                        padding-right: 5px;
                        border-radius: 10px;
                        border: 2px solid var(--text-color);
                        transition: border-color 0.3s;
                        font-family: 'Ubuntu', sans-serif;
                        height: 40px;
                    }
                }

                .form-message {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .form-message-text {
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 600;

                    }

                    .form-message-input {
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-top: 5px;
                        border-radius: 10px;
                        border: 2px solid var(--text-color);
                        transition: border-color 0.3s;
                        font-family: 'Ubuntu', sans-serif;
                        min-height: 80px;
                    }
                }

                .form-submitButton {
                    border-radius: 15px;
                    padding: 5px 20px;
                    border: 2px solid #8fbaff;
                    align-self: flex-start;
                    cursor: pointer;

                    .form-submitButton-text {
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 600;
                        color: #8fbaff;
                    }
                }
            }
        }
    }
}

::placeholder {
    font-family: 'Ubuntu', sans-serif;
    color: var(--placeholder-color);
    transition: color 0.3s;
}